NODE_ENV=development
PORT=8080
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster-url>/mock-preliminary-task?retryWrites=true&w=majority&appName=<app_name>
SESSION_SECRET=replace-this-with-a-long-random-string
